.subtasks-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subtask-input-group {
  display: flex;
  gap: 0.5rem;
}

.subtask-input {
  flex: 1;
}

.remove-subtask-button {
  padding: 0.75rem;
  background-color: var(--delete-hover);
  border: none;
  border-radius: 0.5rem;
  color: var(--delete-color);
  cursor: pointer;
  transition: all 0.2s ease;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.remove-subtask-button:hover:not(:disabled) {
  background-color: var(--delete-color);
  color: var(--text-primary);
}

.add-subtask-button {
  margin: 0.5rem auto;
  padding: 0.5rem;
  background: none;
  border: 1px dashed var(--border-color);
  border-radius: 0.5rem;
  color: var(--text-secondary);
  cursor: pointer;
  transition: all 0.2s ease;
  svg, span {
    display: block;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.add-subtask-button:hover {
  border-color: var(--checkbox-gradient-from);
  color: var(--text-primary);
}

.form-label {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

.form-input {
  padding: 0.75rem;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  color: var(--text-primary);
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.form-input:focus {
  outline: none;
  border-color: var(--checkbox-gradient-from);
}
